body{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.contenedor-logo{
    width: 100%;
    display: flex;
    text-align: right;
 }

.logo{
    width: 80px;
    height: 48px;
    margin: 40px 0 0 84px;
}

.main-index{
    width: 100%;
    margin-top: 10%;
    text-align: center;
    align-items: center;
}

.iniciar-juego{
    margin: 1%;
    background: #0A3871;
    color: white;
    font-size: 18px;
    padding: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight:bold;
    width: 317px;
    height: 67px;
    border: 2px solid #0A3871;
    border-radius: 15px;
    transition: 1s all; /*all para que aplique la transicion a todo enviar*/
    cursor: pointer;

}

.iniciar-juego:hover{
    background: rgb(255, 99, 9);
    transform: scale(1.2); /*aumenta el tamano del boton o escala */
    color: black;
    
}

.nueva-palabra{
    margin: 1%;
    background: white;
    color: #0A3871;
    font-size: 18px;
    padding: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight:bold;
    width: 280px;
    height: 67px;
    border: 2px solid #0A3871;
    border-radius: 15px;
    transition: 1s all; /*all para que aplique la transicion a todo enviar*/
    cursor: pointer;

}

.nueva-palabra:hover{
    background: rgb(255, 99, 9);
    transform: scale(1.2); /*aumenta el tamano del boton o escala */
    color: black;
}

/*iniciarjuego.html*/

.muneco-botones{
    text-align: center;
    align-items: center;
}

.contenedor-muneco{
    display: flex;
}

canvas{
    background-color: antiquewhite;
}

.nuevo-juego{
    background: #0A3871;
    color: white;
    font-size: 18px;
    padding: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight:bold;
    width: 317px;
    height: 67px;
    border: 2px solid #0A3871;
    border-radius: 15px;
    transition: 1s all; /*all para que aplique la transicion a todo enviar*/
    cursor: pointer;
}

.nuevo-juego:hover{
    background: rgb(255, 99, 9);
    transform: scale(1.2); /*aumenta el tamano del boton o escala */
    color: black;
}

.rendirse{
    background: white;
    color:#0A3871;
    font-size: 18px;
    padding: 24px;
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight:bold;
    width: 317px;
    height: 67px;
    border: 2px solid #0A3871;
    border-radius: 15px;
    transition: 1s all; /*all para que aplique la transicion a todo enviar*/
    cursor: pointer;
}

.rendirse:hover{
    background: rgb(255, 99, 9);
    transform: scale(1.2); /*aumenta el tamano del boton o escala */
    color: black;
}




  